// Specific CSS for your home-page
a {
  text-decoration: none;
}

body {
  background-color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  margin-left: 0px;
}

tr{
  background-color: #A1C1D1;
}
