<%= render 'layouts/banner' %>

<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/home/timothe/san_francisco.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kitchen</h5>
    <ul>
      <li>Name</li>
      <li>Address</li>
      <li>Capacity</li>
      <li>Price</li>
      <li>Equipment</li>
    </ul>
  </div>
</div>
