<%= render 'layouts/banner' %>


<div class="container">
  <div class="row justify-content-center">
    <div class="home_card_container">
      <div class="home_card">
          <i class="fa-solid fa-bowl-food"></i>
          <p>Préparez à manger avec vos proches et profitez de chaque instant dans un environnement convivial que vous choisissez. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, illo!</p>
      </div>
      <div class="home_card">
          <i class="fa-solid fa-heart"></i>
          <p>Construisez des moments inoubliables en partageant un repas fait maison et fait ensemble, parce que c'est ça qui compte. Sharing is caring </p>
      </div>
      <div class="home_card">
          <i class="fa-solid fa-star"></i>
          <p>Choisissez la cuisine qui convient à vos goûts et vos envies. Un endroit insolite ou un endroit qui vous rappelle la cuisine de votre grand-mère? Vous trouverez ce qu'il vous faut ici</p>
      </div>
    </div>
  </div>
</div>
