<%= render 'layouts/banner' %>


<div class="container">
  <div class="row justify-content-center">
    <div class="kitchen_card">
      <img src="https://picsum.photos/200" alt="Card image cap">
      <h5 class="card-title">Couisine</h5>
    </div>
    <div class="kitchen_card">
      <img src="https://picsum.photos/200" alt="Card image cap">
      <h5 class="card-title">Couisine2</h5>
    </div>
    <div class="kitchen_card">
      <img src="https://picsum.photos/200" alt="Card image cap">
      <h5 class="card-title">Couisine3</h5>
    </div>
  </div>
</div>
