<%= render 'layouts/banner' %>


<div class="container">
  <div class="row justify-content-center">
    <div class="kitchen_card">
      <img src="https://picsum.photos/200" alt="Card image cap">
      <h5 class="card-title">Kitchen</h5>
    </div>
    <div class="kitchen_card">
      <img src="https://picsum.photos/200" alt="Card image cap">
      <h5 class="card-title">Kitchen2</h5>
    </div>
    <div class="kitchen_card">
      <img src="https://picsum.photos/200" alt="Card image cap">
      <h5 class="card-title">Kitchen3</h5>
    </div>
  </div>
</div>
