.navbar-lewagon {
  justify-content: space-between;
  background: #B6D6CC;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar a {
  color: rgb(66, 106, 167)
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .nav-link{
//   color: rgb(183, 183, 183)
// }
