<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.maisonapart.com/images/normal/20221124_162612_ixina-origine--2-.jpg);">
  <div class="container">
    <h1>Bienvenue sur <strong>KITCHME</strong> !</h1>
    <p>Louez une cuisine pour accueillir vos amis et cuisiner de délicieux plats.</p>
  </div>
</div>
